.head2 {
    font-size: 24px;
    max-width: 1000px;
    height: 180px;
    position: relative;
}

h1 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 0%;
}

.картинка {
    border: 1px outset rgb(119, 118, 118);
    max-width: 220px;
    height: 100px;
    position: relative;
}

.left {
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    position: relative;
    left: 25%;
    top: -65%;
}

.right {
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    position: relative;
    left: 50%;
    right: 0;
    top: -126%;
}

.list {
    color: blueviolet;
}

body {
    padding: 30px;
}